
<form id="upload-form" method="post" asp-controller="Home" enctype="multipart/form-data">
    <script>
        /*
James B. Norman
Nicholas Brown AKA NickNick
Weberlab
DBMI
Harvard Medical School

*/
        //Basket is _all_files.  I upload it all with the
        //header json data (email,comments), to the API all at once.
        var _all_files = {}; //new FormData(); FormData methods dont work in IE, so I changed it to an OBJ
        var _tmp_file;
        var _status = 10;
        var _prefix =  "4CE\\";


        function addFile(files) {
            //add only one file to the basket at a time.
            var name = "";
            for (var i = 0; i < files.files.length; i++) {
                name = files.files[i].name.split(" ").join("");//no spaces in file names
                if (name.includes(".csv")) {  //must be a csv file only.
                    delete _all_files[name.toLowerCase()];
                    _all_files[name.toLowerCase()] = files.files[i];
                    AddFileRow(name);
                }
            }
        }

        function AddFileRow(id) {
            var rowid = id.replace(".", "").toLowerCase();
            var button = "<button onclick=\"removerow('" + rowid + "');\" type=\"button\" class=\"close\" aria-label=\"Close\">" +
                "<span aria-hidden=\"true\">&times;</span>" +
                "</button>";
            if (!$("#file-list").find("#" + rowid).length) {
                $("#file-list").append("<div id=\"" + rowid + "\">" + button + " " + id + "</div>");
            }
        }
        function removerow(id) {
            $("#" + id).remove();
            //add the period back to remove it from the collection
            id = id.toLowerCase().replace("csv", ".csv");
            delete _all_files[id];


        }
     
        function ProcessBatch() {
            $(".messages-label").hide();
            $(".messages-label-text").html("");            
            $("#div-messages").html("");

            
            var personsname = $("#PersonsName").val();
            var email = $("#Email").val();
            var siteid = $("#SiteID").val();
            var comments = $("#Comments").val();
            var projectid = $("#sel-projects").val();

            var batchHeader = JSON.stringify({
                PersonsName: personsname,
                Email: email,
                SiteID: siteid,
                Comments: comments,
                ProjectID: projectid
            });


            var formdata = new FormData();

            if (_all_files != undefined) {
                for (var key in _all_files) {
                    formdata.append(key, _all_files[key]);
                }
                formdata.append("batchHeader", batchHeader);
            }
            $.ajax({
                type: "POST",
                url: _prefix + "home/UploadFiles",
                contentType: false,
                processData: false,
                data: formdata,
                success: function (message) {
                    $("#div-messages").html("");
                    var rtn = message;
                    if (rtn.valid) {
                        $(".messages-label").show();
                        $(".messages-label-text").html("");
                        $(".messages-label-text").attr("style", "color:#009900");

                        for (var msg of rtn.messages) {
                            $(".messages-label-text").append(msg);
                        }                    


                    } else {
                        $(".messages-label").show();
                        $(".messages-label-text").html("Your files could not be processed…");
                        for (var msg of rtn.messages) {
                            $("#div-messages").append("<li>" + msg + "</li>");
                        }
                    }
                },
                error: function (message) {
                    _tmp_file = null;
                    $(".messages-label").show();
                    $(".messages-label-text").html("Your files could not be processed…");
                    $("#div-messages").html("There was error uploading files!");
                },
                beforeSend: function () {
                    $(".messages-label").show();
                    $(".messages-label-text").html(getstatusbar());
                    updatestatusbar();
                },
                complete: function () {

                }
            });

        }

        $(document).ready(function () {
            $(".messages-label").hide();
            $("#sel-projects").on("change", function () {
                getprojects()
            });
            $(".file-upload").on('change', function () {
                addFile(this);
            });
            getprojects();
        });

        function getprojects() {
            $("#div-files").html("");
            $.ajax({
                type: "POST",
                url: _prefix + "home/GetFileIDs/" + $("#sel-projects").val(),
                contentType: false,
                processData: false,
                success: function (message) {
                    $("#div-files").append("<b>Expected files</b>: ");
                    for (var msg of message) {
                        $("#div-files").append(msg.fileID + ".csv");
                        $("#div-files").append(", ");
                    }
                    $("#div-files").html($("#div-files").html().substring(0, $("#div-files").html().length - 2));

                },
                error: function (message) {
                    _tmp_file = null;
                    $("#validation").html("There was error uploading files!");
                }

            });

        }
        function getstatusbar() {
            var bar = "<div class=\"w3-border\">" +
                "<div class=\"w3-green\" style=\"height:24px;width:10%\"></div>" +
                "</div>";

            return bar;
        }

        function updatestatusbar() {
            var bar = setInterval(function () {
                _status = _status + Math.floor((100 - _status) * 0.1);
                if (_status > 99) { _status = 99; }
                $(".w3-green").css("width", _status + "%")
            }, 2000);
        }

    </script>
    <div style="min-width:800px;margin-bottom:100px;">

        <div class="container">
            <div class="row">
                <h1 class="display-2">4CE Data Upload Tool</h1>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Your name</h5>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="PersonsName" maxlength="200" name="PersonsName" value="" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Email</h5>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="Email" maxlength="100" name="Email" value="" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>SiteID</h5>
                </div>
                <div class="col-xs-5">
                    <input type="text" class="form-control" id="SiteID" maxlength="20" name="SiteID" value="" />
                </div>
                <div class="col-7">
                    (up to 20 letters or numbers, starting with a letter, no spaces or special characters)
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Comments</h5>
                </div>
                <div class="col">
                    <textarea name="Comments" rows="5" class="form-control" id="Comments"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Project</h5>
                </div>
                <div class="col">
                    @Html.DropDownList("Projects", null, null, htmlAttributes: new { @class = "form-control", @id = "sel-projects" })
                </div>
            </div>

            <div class="row">
                <div class="col-2"><h5>Files</h5></div>
                <div class="col">
                    <div id="div-files"></div>
                </div>
            </div>
            <div class="row" id="upload-row">
                <div class="col-2"></div>
                <div class="col file-list-container">
                    <label class="button" id="pic">
                        Select Files
                        <input type="file" class="file-upload" id="files" name="files" multiple accept="*.csv">
                    </label>
                    <div id="file-list"></div>
                </div>
            </div>
            <div class="row" id="upload-button">
                <div class="col-1">
                    <input type="button" class="button" onclick="ProcessBatch()" id="cmd-process-batch" value="Upload and Validate" />
                </div>
            </div>
            <div class="row">
                <div class="col messages-label">
                    <span class="messages-label-text"></span>
                    <ol id="div-messages">
                    </ol>
                </div>
            </div>

        </div>
    </div>
</form>