
<form id="upload-form" method="post" asp-controller="Home" enctype="multipart/form-data">
    <script>
        /*
James B. Norman
Nicholas Brown AKA NickNick
Weberlab
DBMI
Harvard Medical School

*/
        //Basket is _all_files.  I upload it all with the
        //header json data (email,comments), to the API all at once.
        var _all_files = {}; //new FormData();
        var _tmp_file;
        var _status = 25;
        var _prefix = "4ce\\";


        function readURL(files) {
            //add only one file to the basket at a time.
            var name = "";
            for (var i = 0; i < files.files.length; i++) {                
                name = files.files[i].name.replace(" ", "").toLowerCase();//no spaces in file names
                delete _all_files[name];
                _all_files[name] = files.files[i];
                AddFileRow(name); 
            }
            
            $("#upload-button").show("slow");
        }

        function AddFileRow(id) {
            var rowid = id.replace(".", "");            
            var button = "<button onclick=\"removerow('" + rowid + "');\" type=\"button\" class=\"close\" aria-label=\"Close\">" +
                "<span aria-hidden=\"true\">&times;</span>" +
                "</button>";
            if (!$("#file-list").find("#" + rowid).length) {
                $("#file-list").append("<div id=\"" + rowid + "\">" + button + " " + id + "</div>");
            }
        }
        function removerow(id) {
            $("#" + id).remove();
            //add the period back to remove it from the collection
            id = id.toLowerCase().replace("csv", ".csv");   
            
           delete _all_files[id];
        }
        function ValidateBatchHeader() {
            
            var personsname = $("#PersonsName").val();
            var email = $("#Email").val();
            var siteid = $("#SiteID").val();
            var comments = $("#Comments").val();
            var projectid = $("#sel-projects").val();

            var data = JSON.stringify({
                PersonsName: personsname,
                Email: email,
                SiteID: siteid,
                Comments: comments,
                ProjectID: projectid
            });
            _tmp_file = data;
           delete _all_files["batchHeader"];
            $("#div-messages").html("");
            $.ajax({
                type: "POST",
                url: _prefix + "home/ValidateBatchHeader",
                processData: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: data,
                success: function (message) {
                    $("#div-messages").attr("style", "color:#009900");
                    var rtn = message;

                    if (rtn.valid) {
                        _all_files["batchHeader"] = _tmp_file;
                        $("#cmd-process-batch").prop('disabled', false);
                    } else {
                        $("#cmd-process-batch").prop('disabled', true);
                        $("#div-messages").attr("style", "color:#990000");
                        for (var msg of rtn.messages) {
                            $("#div-messages").append("<div>" + msg + "</div>");
                        }
                    }

                },
                error: function (message) {
                    $("#div-messages").attr("style", "color:#990000");
                    $("#validation").html("There was error validating your information!");
                },
                beforeSend: function () {
                    
                },
                complete: function () {
                    
                }
            });


            return data;

        }
    
        function ProcessBatch() {

            var formdata = new FormData();
            for (var key in _all_files) {
                formdata.append(key, _all_files[key]);
            }
            $.ajax({
                type: "POST",
                url: _prefix + "home/UploadFiles",
                contentType: false,
                processData: false,
                data: formdata,
                success: function (message) {
                    $("#div-messages").html("");

                    var rtn = message;
                    if (rtn.valid) {
                        $("#div-messages").attr("style", "color:#009900");
                        for (var msg of rtn.messages) {
                            $("#div-messages").append("<div class=\"div-message\">" + msg + "</div>");
                        }
                        
                        $('input:text').val('');
                        $("input[type=button]").attr("disabled", "disabled");
                        $("#cmd-process-batch").remove();
                        $("#upload-row").remove();
                        $("#file-list").remove();

                        _all_files = null;


                    } else {
                        $("#div-messages").attr("style", "color:#990000");
                        $("#div-messages").html("Your files could not be processed…");
                        for (var msg of rtn.messages) {
                            $("#div-messages").append("<div class=\"div-message\">" + msg + "</div>");
                        }
                    }
                },
                error: function (message) {
                    _tmp_file = null;
                    $("#div-messages").html("There was error uploading files!");
                },
                beforeSend: function () {
                    $("#div-messages").html(getstatusbar());
                    updatestatusbar();
                },
                complete: function () {
                    
                }
            });

        }

        $(document).ready(function () {

            $("#upload-row").hide();
            $("#upload-button").hide();

            $("#sel-projects").on("change", function () {
                $("#div-files").html("");
                $.ajax({
                    type: "POST",
                    url: _prefix + "home/GetFileIDs/" + $("#sel-projects").val(),
                    contentType: false,
                    processData: false,
                    success: function (message) {

                        for (var msg of message) {
                            $("#div-files").append(msg.fileID);
                            $("#div-files").append(", ");
                        }
                        $("#div-files").html($("#div-files").html().substring(0, $("#div-files").html().length - 2));
                        $("#upload-row").show('slow');                        
                    },
                    error: function (message) {
                        _tmp_file = null;
                        $("#validation").html("There was error uploading files!");
                    }

                });

            });

            $(".form-control").focusin(function () {
                $("#cmd-process-batch").prop('disabled', false);
            });

            $(".file-upload").on('change', function () {
                readURL(this);
            });

        });

        function getstatusbar() {
            var bar = "<div class=\"w3-border\">" +
                "<div class=\"w3-green\" style=\"height:24px;width:20%\"></div>" +
                "</div>";

            return bar;
        }

        function updatestatusbar() {
            var bar =  setInterval(function () {
                _status = _status + 10;
                if (_status > 100) { _status = 10;}
                $(".w3-green").css("width", _status + "%")
            }, 2000);
        }

    </script>
    <div style="min-width:800px;margin-bottom:100px;">

        <div class="container">
            <div class="row">
                <h1 class="display-2">4CE Data Upload Tool</h1>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <h5>Please submit the following information and provide your files for validation and upload.</h5>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Your name</h5>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="PersonsName" maxlength="200" name="PersonsName" value="" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Email</h5>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="Email" maxlength="100" name="Email" value="" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>SiteID</h5>
                </div>
                <div class="col-xs-5">
                    <input type="text" class="form-control" id="SiteID" maxlength="20" name="SiteID" value="" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Comments</h5>
                </div>
                <div class="col">
                    <textarea name="Comments" rows="5" class="form-control" id="Comments"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5>Project</h5>
                </div>
                <div class="col">
                    @Html.DropDownList("Projects", null, "Select Project", htmlAttributes: new { @class = "form-control", @id = "sel-projects" })
                </div>
            </div>

            <div class="row">
                <div class="col-2"><h5>Files</h5></div>
                <div class="col">
                    <div id="div-files"></div>
                </div>
            </div>
            <div class="row" id="upload-row">
                <div class="col-2"></div>
                <div class="col file-list-container">
                    <label class="button" id="pic">
                        Select Files
                        <input type="file" class="file-upload" id="files" name="files" multiple accept="*.csv">
                    </label>
                    <div id="file-list"></div>
                </div>                
            </div>
            <div class="row" id="upload-button">
                <div class="col-1">
                    <input type="button" class="button" onclick="ProcessBatch()" onmouseover="ValidateBatchHeader();" id="cmd-process-batch" value="Upload and Validate" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="div-messages">
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>