/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

body {
    font-family: Arial;
    font-size: 10pt;
    margin-bottom: 60px;
    background-color: #EDECE8;
}


.active {
    background-color: yellow !important;
}


.color input {
    background-color: #f1f1f1;
}



.button {
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: left;
}

    .button:hover {
        background: #ddd;
    }


.d-table-cell {
    padding: 10px;
}

.upload-group {
    display: flex;
}

.form-control {
    margin-bottom: 10px !important;
}

form {
    flex-wrap: nowrap !important;
}

.col {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.col-1 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.col-2 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.container {
    max-width: 930px !important;
    min-width: 850px !important;
}


.color input {
    background-color: #f1f1f1;
}


.label {
    margin-bottom: 0px !important;
}

.close {
    float: left !important;
    margin-right: 5px;
}

#div-files {
    margin-top: 3px;
}

#div-messages {
    margin-top: 5px;    
}

.div-message {
    margin: 5px;
}

input[type=file] {
    display: none;
}

#file-list {
    display: inline-grid;
}

#cmd-process-batch {
    margin-top: 20px;
    background-color:#3170ad;
    color:#ffffff;
}

.file-list-container {
    display: inline-grid;
}

#pic {
    width: 95px;
}

.display-2 {
    font-size: 3.0rem !important;
    font-weight: bold;
    color: #3170ad;
    margin-bottom: 20px !important;
}

.col-7 {
    margin-top: 8px !important;
}
.messages-label{
 margin-top: 20px;
}
.messages-label-text {
    font-weight: bold;   
    color: #990000;
}